<html>
    <div class="bg">
        <div id="ds"><span id="D">D's</span> F<span id="O">o</span>lio.</div>
            <div class="navbar">
            <span id="home"><a routerLink="/home" routerLinkActive="active">Home</a></span>
            <span id="skills"><a routerLink="/skills" routerLinkActive="active">Skills</a></span>
            <span id="Certify"><a routerLink="/certificates" routerLinkActive="active">Certifications</a></span>
            <span id="Projects"><a routerLink="/projects" routerLinkActive="active">Projects</a></span>
            <span id="contact"><a routerLink="/contacts" routerLinkActive="active">Contacts</a></span></div>
        </div>
</html>
