.bg{
    display: flex;
    width:100%;
    height:auto;
    gap: 40%;
    z-index: 100;
    justify-content: center;
    align-items: center;
}
body{
    /* scroll-behavior: smooth; */
    width: auto;
    height: auto;
    background-color:#1E1E1E ;
    padding:1% 0% 1% 0%;
}
#ds{
    color: rgb(55, 225, 220);
    font-family: 'Euphoria Script', cursive;
font-size: 200%;

}
#D{
    /* color:  #25a5cc; */
    color: rgb(55, 225, 220);
}
#O{
    color:  rgb(55, 225, 220); 
}
.navbar{
    display: flex;
    gap: 5%;    
font-size: 130%;
align-items: center;
justify-content: center;
font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif; 
    font-style: oblique;
}
a{
    text-decoration: none;
    color:rgb(55, 225, 220) ;
}


