.bg{
    display: flex;
    width:100%;
    height:auto;
    gap: 40%;
    z-index: 100;
    justify-content: center;
    align-items: center;
}
body{
    /* scroll-behavior: smooth; */
    width: 100vw;
    height: auto;
    background-color:#1E1E1E ;
    padding:1% 0% 1% 0%;
    position: fixed;
}
#ds{
    color: rgb(55, 225, 220);
    font-family: 'Euphoria Script', cursive;
    font-size: 200%;

}
#D{
    /* color:  #25a5cc; */
    color: #bf93f3;
}
#O{
    color:  #bf93f3; 
}
.navbar{
    display: flex;
    gap: 5%;    
    font-size: 130%;
    align-items: center;
    justify-content: center;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif; 
    font-style: oblique;
}
a{
    text-decoration: none;
    color:#bf93f3 ;
    cursor: pointer;
}
a:hover{
    color: rgb(55, 225, 220);
}
@media only screen and (max-width: 802px){
    .navbar{
        padding-right: 5%;
    }

}
@media only screen and (max-width: 750px){
    a{
        display: none;
    }
    .bg{
        display: flex;
        justify-content: center;
       place-content: center;
       text-align: center;
       align-items: center;
    }
    #ds{
        text-align: center;
    }
}

