.bg{
    background-color: #adcbe3;
    backdrop-filter:blur(20px);
    width:100%;
    height:3.5rem;
    line-height: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
body{
    scroll-behavior: smooth;
}
#ds{
    color: #22668D;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 35px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 20rem;
margin-left:2rem;
padding-top: 1%;
}
#D{
    color:  #22668D;
}
#O{
    color:  #22668D; 
}
.navbar{
    margin-left: 40rem;
    width: 20rem;
    margin-top: -2em;    

}
.navbar{
    display: flex;
    gap: 20px;
    color: #FFF;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-left: 47rem;
padding-top: 0.4rem;
justify-content: space-between;

}
a{
    text-decoration: none;
    color:#22668D ;
}

a.active{
    color: rgb(55, 225, 220); 
}

