.main{
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}
body{
    background-color: #1E1E1E;
    height: auto;
    width: auto;
    padding-top: 2%;
    padding-bottom: 2%;
}
#lets{
    color: #37E1DC;
    /* margin-left: 7%; */
    text-align: center;
    font-size: 45px;
    /* text-shadow: 5px 5px 10px rgb(30, 96, 171); */
}
.col2{
    height: auto;
    color: #37E1DC;
    font-size: 20px;
    /* padding-left: 2%; */
    display: flex;
    flex-direction: column;
}
.phno,.email,.LinkedIn,#country,.insta{
    margin-bottom: 15px;
}
.phno img,.email img,.LinkedIn img,.insta img,.github img{
    height: 1rem;
    width: 1rem;
}
.col3{
    color: #37E1DC;
    font-size: 20px;
}
