
<div class="mainc">
    <div class="col1"><p id="lets">Let's Get in Touch!</p>
    </div>
    <div class="col2">
        <div><p class="phno"><img src="../../assets/call.jpg">
            9686424630</p>
        <p class="email">
            <img src="../../assets/mail.jpg"> dhaminivenkata2311@gmail.com</p>
        <p class="LinkedIn">
            <img src="../../assets/linkedin.jpg"> Dhamini Venkata</p>
        <p class="instagram">
            <img src="../../assets/insta.jpg"> dhamini_venakata2311
        </p>
        <p class="git">
            <img src="../../assets/country.jpg"> dhamini2311
        </p></div>
    </div>
        <div class="navbar">
            <p id="home"><a  routerLink="/home" routerLinkActive="active">Home</a></p>
            <p id="skills"><a  routerLink="/skills" routerLinkActive="active">Skills</a></p>
            <p id="Certify"><a  routerLink="/certificates" routerLinkActive="active">Certifications</a></p>
            <p id="Projects"><a  routerLink="/projects" routerLinkActive="active">Projects</a></p>
            <p id="contact"><a  routerLink="/contacts" routerLinkActive="active">Contacts</a></p>
        </div>
</div>