<body>
<div class="main">
    <p id="lets">Let's get in touch!</p>
    <div class="col2">
        <p class="phno"><img src="../../assets/call-sharp.svg">
        <a id="num" href="tel:+91 9686424630"> 9686424630</a></p>
        <p class="email">
            <img src="../../assets/mail-outline.svg">
            <a id="mail" href="mailto: dhamini2311@gmail.com"> dhamini2311@gmail.com</a>
        </p>
        </div>
        <div class="col3">
            <p class="LinkedIn">
                <img src="../../assets/linkedin.svg">
                <a id="link" href="https://www.linkedin.com/in/dhamini-venkata-102201214"> Dhamini Venkata</a>
            </p>
            <p class="github">
                <img src="../../assets/github.svg"> 
                <a id="git" href="https://github.com/dhamini2311"> dhamini2311</a>
            </p> 
        </div>
</div>
</body>