.main{
    background-color: black;
    height: auto;
    width: auto;
    color: aliceblue;
}
#heading{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    color: rgb(55, 225, 220);
    font-size: 60px;
    margin-left: 43%;
    text-shadow: 5px 5px 10px rgb(30, 96, 171);
}
#pro1{
  width: 10px;
  height: 10px;
}
.image{
  display: flex;
}
#pro1,img{
  width: 50%;
  height: 50%;
  margin-left: 10%;
}
#pro2,img{
  width: 50%;
  height: 50%;
}
#pro1,img:hover{
  /* transition: transform(0.4);
  transform: scale(1,1); */
}