<div class="main">
  <div id="heading">Projects</div>
  <br>
  <!-- <div class="image">
  <div id="pro1">
    <img src="../../assets/project1.png">
  </div>
  <div id="pro2">
    <img src="../../assets/project2.png">
  </div>
</div> -->
<div class="card">
  <div class="card-inner">
    <div class="card-front">
      <p><img src="../../assets/project1.png"></p>
    </div>
    <div class="card-back">
      <p>Finger print authirization</p>
    </div>
  </div>
  <div class="card-inner1">
    <div class="card-front1">
      <p><img src="../../assets/project2.png"></p>
    </div>
    <div class="card-back1">
      <p>Portfolio</p>
    </div>
  </div>
</div>

</div>