<div class="main">
  <div id="heading">Projects</div>
  <br>
</div>
<div class="main2">
  <div class="card"> 
    <div class="card-inner"> 
      <div class="card-front">
        <img src="../../assets/project1.png">
      </div>
      <div class="card-back">
      <p>Finger print project
        This is an Attendance Monitoring project built using Java Swing,
        on reading the fingerprint the device will be able to dislay the details of the user which is 
        saved in mysql workbench. When the fingerprint is not recignized it asks the user to enter the details.
      </p>
      </div>
    </div>
  </div>
  <div class="card"> 
    <div class="card-inner"> 
      <div class="card-front">
        <img src="../../assets/project2.png">
      </div>
      <div class="card-back">
      <p>Back Side</p>
      </div>
  </div>
</div>
</div>