.main{
    width: auto;
    color: #6194ba;
}
body{
  height: auto;
  background-color: #6194ba;
}
#heading{
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic; */
    color: #2a4c68;
    font-size: 400%;
    text-align: center;
    font-style: oblique;
    
}
.main2{
  color: #22668d;
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    gap: 20%;
}
.card {
  width: 350px;  
  height: 250px; 
  perspective: 1000px;}  
  .card-inner {
    border: 5px solid #fffadd;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 2px rgb(48, 117, 117);
  width: 100%;
  height: 100%;
  position: relative; transform-style: preserve-3d; transition: transform 0.999s;}
  .card:hover .card-inner {
  transform: rotateY(180deg);
  }
  .card-front, .card-back {
  position: absolute; width: 100%;
  /* background-color: blanchedalmond; */
  color: #22668d;  
  height: 100%; backface-visibility: hidden;
  } 
  .card-front img{    
    display:block;
    width: 90%;
    height: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: auto;
  }
  #head1,#head2{
    font-size: 150%;
  }
  .card-front {
    align-items: center;
  transform: rotateY(0deg); }
  .card-back {
    text-align:center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-size: 100%;
    transform: rotateY(180deg);
  }