<head>
  
</head>

<body>
  
<div class="main">
  <div id="heading">Projects</div>
  <br>
</div>
<div class="main2">
  <div class="card"> 
    <div class="card-inner"> 
      <div class="card-front">
        <img src="../../assets/project1.png">
      </div>
      <div class="card-back">
      <p><span id="head1">Finger-Print Project</span> <br><br>
        This is an Attendance Monitoring project built using Java Swing,
        on reading the fingerprint the device will be able to dislay the details of the user which is 
        saved in mysql workbench. When the fingerprint is not recignized it asks the user to enter the details.
      </p>
      </div>
    </div>
  </div>
  <div class="card"> 
    <div class="card-inner"> 
      <div class="card-front">
        <img src="../../assets/project2.png">
      </div>
      <div class="card-back">
      <p><span id="head2">Multi-Page Portfolio Web-page</span><br> <br>
        This is a Multi-Page portfolio page that was made using Angular Framework,
        this page had the front-end, back-end skills and it was a basic website that was made
        using CSS and HTML.
      </p> 
      <br>
      </div>
  </div>
</div>
</div>
</body>