<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@1,500&family=Libre+Baskerville&family=Montserrat:ital,wght@1,200&family=Playpen+Sans:wght@500&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@1,500&family=Libre+Baskerville&family=Montserrat:ital,wght@1,200&family=Playpen+Sans:wght@500&display=swap" rel="stylesheet">
</head><div id="main4">
    
    <p id="skills">Skills</p>
    <div id="col1">
        <div id="frontend">
            <img src="../../assets/computer.svg">
            <p id="head">Frontend</p>
            <p  id="head">HTML</p>
            <p  id="head">CSS</p>
            <p  id="head">JavaScript</p>
            </div>
        <div id="database">
            <img src="../../assets/database.svg">
            <p id="head">Database</p>
            <p  id="head">MYSQL</p>
            <p  id="head">MySQL Workbench</p>
            <p  id="head">SQLite</p>
            <p  id="head">MongoDB</p>
            <p  id="head">Firebase</p>
        </div>
    </div>
    <div id="col2">
        <div id="backend">
            <img src="../../assets/outline-settings.svg">
            <p id="head">Backend</p>
                <p id="head">C</p>
                <p id="head">C++</p>
                <p  id="head">Java Swing</p>
                <p  id="head">Python</p>
                <p  id="head">Java</p>
            
        </div>
        <div id="others">
            <img src="../../assets/other-admission-rounded.svg">
            <p id="head">Others</p>
                <p>Django</p>
                <p>Angular</p>
                <p>Microsoft Excel</p>
        </div>
    </div>
    <br>
</div>

