
<div id="main4">
    <div id="skills">Skills</div>
    <div id="col1">
        <div id="frontend">
            <img src="../../assets/frontend1.jpg">
            <p id="head">Frontend</p>
            <p>HTML</p>
            <p>CSS</p>
            <p>JavaScript</p>
            </div>
        <div id="database">
            <img src="../../assets/db2.jpg">
            <p id="head">Database</p>
            <p>MYSQL</p>
            <p>MySQL Workbench</p>
            <p>SQLite</p>
            <p>MongoDB</p>
            <p>Firebase</p>
        </div>
    </div>
    <div id="col2">
        <div id="backend">
            <img src="../../assets/backend.jpg">
            <p id="head">Backend</p>
                <p>C</p>
                <p>C++</p>
                <p>Java Swing</p>
                <p>Python</p>
                <p>Java</p>
            
        </div>
        <div id="others">
            <img src="../../assets/others.jpg">
            <p id="head">Others</p>
                <p>Django</p>
                <p>Angular</p>
                <p>Microsoft Excel</p>
        </div>
    </div>
    <br>
</div>

