<head>
    
</head>
<body class="body">
    <div id="main4">
    <p id="skills">Skills</p>
    <div id="col1">
        <div id="frontend">
            <img src="../../assets/computer.svg">
            <p id="head">Frontend</p>
            <p  id="head"><img src="../../assets/html-5.svg"></p>
            <p  id="head"><img src="../../assets/css.svg"></p>
            <p  id="head"><img src="../../assets/javascript-sharp.svg"></p>
            </div>
        <div id="database">
            <img src="../../assets/database.svg">
            <p id="head">Database</p>
            <p  id="head"><img src="../../assets/mysql.svg"></p>
            <p  id="head"><img src="../../assets/mongodb.svg"></p>
            <p  id="head"><img src="../../assets/firebase.svg"></p>
        </div>
    </div>
    <div id="col2">
        <div id="backend">
            <img src="../../assets/outline-settings.svg">
            <p id="head">Backend</p>
                <p id="head"><img src="../../assets/c-16.svg"></p>
                <p id="head"><img src="../../assets/c-plusplus-16.svg"></p>
                <p  id="head"><img src="../../assets/python-fill (1).svg"></p>
                <p  id="head"><img src="../../assets/java-logo.svg"></p>            
        </div>
        <div id="others">
            <img src="../../assets/other-admission-rounded.svg">
            <p id="head">Others</p>
                <p>Django</p>
                <p>Angular</p>
                <p>Microsoft Excel</p>
        </div>
    </div>
    <br>
</div>
</body>

