<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<p id="head">Certifications</p>
<div class="scroll-container">
  <img src="../../assets/cert1.jpg" alt="Cinque Terre" width="600" height="400">
  <img src="../../assets/cert2.jpg" alt="Forest" width="600" height="400">
  <img src="../../assets/cert3.jpg" alt="Northern Lights" width="600" height="400">
  <img src="../../assets/cert4.jpg" alt="Mountains" width="600" height="400">
  <img src="../../assets/BDA.jpg" alt="Mountains" width="600" height="400">
  <img src="../../assets/datascience intern.png" alt="Mountains" width="600" height="400">
  <img src="../../assets/paper presentation.png" alt="Mountains" width="600" height="400">

</div>
</body>
</html>
<!-- <div class="main">
    <div id="head">Certificates</div>
    <div class="division">
        <div class="col1">
            <div id="cert1">
                <img src="../../assets/cert1.jpg">
            </div>
            <span id="c1">Fingerprint Authorization </span>
        </div>
        <div class="col2">
            <div id="cert2">
                <img src="../../assets/cert5.jpg">
            </div>
            <span id="c2">Data Science</span>
        </div>
    </div>
    <div id="link">
        <a href="https://drive.google.com/drive/folders/1uh2YP8FSIxuDAgvhfALbCNamKddslSmk?usp=drive_link">Other Certificates</a>
    </div>
    <br>
</div> -->