<app-header></app-header>
<div class="main">
    <span id="Certificates">Certificates</span>
    <div class="division">
        <div class="col1">
            <div class="cert1">
                <img src="../../assets/cert1.jpg"><br>
                <span id="c1">Fingerprint Authorization Project</span>
            </div>
            <div class="cert2">
                <img src="../../assets/cert2.jpg"><br>
                <span id="c2">Complete Java Development Bootcamp</span>
            </div>
            <div class="cert3">
                <img src="../../assets/cert3.jpg"><br>
                <span id="c3">Databases with Python</span>
            </div>
        </div>
        <div class="col2">
            <div class="cert4">
                <img src="../../assets/cert4.jpg"><br>
                <span id="c4">Django4 and Python Full-Stack Course</span>
            </div>
            <div class="cert5">
                <img src="../../assets/cert5.jpg"><br>
                <span id="c5">Data Science</span>
            </div>
        </div>
    </div>
</div>