<div class="main">
    <div id="head">Certificates</div>
    <div class="division">
        <div class="col1">
            <div id="cert1">
                <img src="../../assets/cert1.jpg">
            </div>
            <span id="c1">Fingerprint Authorization </span>
        </div>
        <div class="col2">
            <div id="cert2">
                <img src="../../assets/cert5.jpg">
            </div>
            <span id="c2">Data Science</span>
        </div>
    </div>
    <div id="link">
        <a href="https://drive.google.com/drive/folders/1uh2YP8FSIxuDAgvhfALbCNamKddslSmk?usp=drive_link">Other Certificates</a>
    </div>
</div>