<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Edu+TAS+Beginner:wght@500&family=Euphoria+Script&family=IBM+Plex+Sans:ital,wght@1,500&family=Libre+Baskerville&family=Montserrat:ital,wght@1,200&family=Playpen+Sans:wght@500&family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
</head>
<app-header></app-header>
<body>
<div id="home">
    <div class="main">
        <div class="main2">
            <p id="hey">Hey There,</p>
            <p id="I">I am <span id="colour">Dhamini.V</span></p>
            <p id="devep">A <span id="colour">Developer</span></p>
            <p id="content">Designing a dynamic and fully functional web-page has always been  one of my best appeals. I love to learn a lot of new things and dive more deep into the latest technologies.
        There is no definite end to the ocean of technology or learning about it. I believe that there is no better way to learn something new than to have hands on practice about it.</p>
        </div> 
        <div class="main3">
            <img id="image" src="../../assets/avatar1.jpg">
            <button id="resu">
            <a href="../../assets/310620205015_Dhamini.V.pdf" download="resume.pdf">Resume
            <img src="../../assets/download (1).svg">
            </a>
            </button>      
        </div>  
    </div>
</div>
</body>

<div id="skills">
<app-skills></app-skills>
</div>
<div id="certification">
<app-certificates></app-certificates>
</div>
<div id="projects">
<app-projects></app-projects>
</div>
<div id="contacts">
<app-contacts></app-contacts>
</div>
