.main{
    /* width: auto;
    height: auto; */
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    justify-content: space-around;
    gap: 5rem;
    padding-left: 7rem;
    padding-top: 5rem;
    font-family: Syne;
    font-style: normal;
    font-weight: 400;
}
body{
        /* height: 100vh;
        width: 100vw; */
        background-color: #6194ba;
    }
.main2{
    display: flex;
    /* gap: 5rem; */
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    color: #2a4c68;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style:italic;
}
#hey{
    padding-bottom: 0.5rem;
}
#I,#devep{
    font-size: 40px;
    padding-bottom: 0.5rem; 
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#colour{
    color:#2a4c68;
}
#content{
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}
/* .main3{
    margin-left: 10rem;
    margin-top: 6rem;} */
#image img{
    width:15rem;
}
#hr2{
    border-top: 2px solid rgb(26, 166, 253);
    border-bottom: 2px solid rgb(26, 166, 253);
}
#res a{
    text-decoration: none;
    color: #2a4c68;
    width: 30%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-content: center;
    text-decoration: none;
    color: #2a4c68;
    border-radius: 10px;
    border: 3px solid rgb(55, 225, 220);
    background: #333;
    margin-left: 3rem;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style:italic;
    
}
/* #res{
    display: flex;
    justify-content: center;
    align-content: center;
} */
