.main{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    justify-content: center;
    gap: 5%;
    font-weight: 400;
}
body{
    padding:5% 5% 0 5%;
        height: 70vh;
        width: auto;
        background-color: #101113;
    }
.main2{
    justify-content: center;
    color: #37E1DC;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style:italic;  
}
#hey{
    padding-bottom: 0.5rem;
    font-size: 140%;
}
#I,#devep{
    font-size: 230%;
    padding-bottom: 0.5rem; 
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style:italic; 
    
}
#colour{
    color:#bf93f3;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style:italic;
    text-shadow: 0 0 10px  #aa64fb;  
}
#content{
    font-size: 160%;
}
#image {
    width: 50%;
}
.main3{
   align-items: center;
   justify-content: center;
   display: flex;
   flex-direction: column;
}
#resu{
    display: flex;
    width: 30%;
    gap: 5%;
    font-family: 'Edu TAS Beginner', cursive;
    border-radius: 0.5rem; 
    background: #1E1E1E ;
   align-items: center;
   justify-content: center;
   border-color:#bf93f3;
   box-shadow: 0 0 7px#bf93f3;
}
#resu a{
    text-decoration: none;
    color:#37E1DC;
    font-size:20px;
    font-weight: bold;
}
#resu img{
    width:12%;
} 
