<head></head>
<app-header></app-header>
<body><div class="main">
    <div class="main2">
        <p id="hey">Hey There,</p>
    <p id="I">I am <span id="colour">Dhamini.V</span></p>
    <p id="devep">A <span id="colour">Developer</span></p>
    <p id="content">Designing a dynamic and fully functional web-page has always been  one of my best appeals. I love to learn a lot of new things and dive more deep into the latest technologies.
        There is no definite end to the ocean of technology or learning about it. I believe that there is no better way to learn something new than to have hands on practice about it.
    </p>
    </div> 
    <div class="main3">
        <img id="image" src="../../assets/avatar1.jpg">  
        <button id="resu">
            <a href="../../assets/310620205015_Dhamini.V.pdf" download="resume.pdf">Resume
            <img src="../../assets/download.svg">
            </a>
        </button>      
    </div>  
</div>
</body>

 
<app-skills></app-skills>
<app-certificates></app-certificates>
<app-projects></app-projects>
<app-contacts></app-contacts>